<header>

    <div class="logo">RentHand</div>

    <div class="menu-btn">☰</div>

    <nav class="nav-menu">
        <a href="/">Начало</a>
        <a href="/catalog">Каталог</a>
        <a href="/about">За нас</a>
        <a href="/contact">Контакти</a>

        <% if(!user){ %>
            <a href="/login">Вход</a>
            <a href="/register">Регистрация</a>
            <% } else { %>
                <a href="/upload">Качи услуга</a>
                <a href="/profile">Профил</a>
                <% if(user && user.role==="admin" ){ %>

                    <a href="/admin-messages">Въпроси</a>

                    <% } %>
                        <a href="/logout">Изход</a>
                        <% } %>

    </nav>

</header>