<header>

    <div class="logo">RentHand</div>

    <div class="menu-btn">☰</div>

    <nav class="nav-menu">
        <a href="/">Начало</a>
        <a href="/catalog">Каталог</a>
        <a href="/upload">Качи услуга</a>
        <a href="/about">За нас</a>
        <a href="/contact">Контакти</a>
        <a href="/login">Вход</a>
    </nav>

</header>