<!DOCTYPE html>
<html lang="bg">

<head>
    <%- include('./partials/header.ejs') %>

</head>

<body>
    <%- include('./partials/navbar.ejs') %>

        <section class="page">

            <h1>404</h1>

            <p>
                Oops - тази страница не съществува!
            </p>

        </section>
        <%- include('./partials/footer.ejs') %>

</body>

</html>