<!DOCTYPE html>
<html lang="bg">

<head>
    <%- include('./partials/header.ejs') %>
</head>

<body>

    <%- include('./partials/navbar.ejs') %>

        <section class="contact-page">

            <h1 class="page-title">Свържи се с нас</h1>

            <div class="contact-container">

                <div class="contact-info">

                    <h2>Контактна информация</h2>

                    <div class="info-item">
                        <span>📍</span>
                        <p>София, България</p>
                    </div>

                    <div class="info-item">
                        <span>📞</span>
                        <p>+359 888 123 456</p>
                    </div>

                    <div class="info-item">
                        <span>📧</span>
                        <p>contact@renthand.com</p>
                    </div>

                    <div class="info-item">
                        <span>🕐</span>
                        <p>Понеделник - Петък / 09:00 - 18:00</p>
                    </div>

                    <div class="socials">
                        <a href="#">🌐</a>
                        <a href="#">📘</a>
                        <a href="#">📷</a>
                        <a href="#">🐦</a>
                    </div>

                </div>



            </div>

        </section>

        <%- include('./partials/footer.ejs') %>

</body>

</html>