<!DOCTYPE html>
<html lang="bg">

<head>
    <%- include('./partials/header.ejs') %>
</head>


 
<body>

    <%- include('./partials/navbar.ejs') %>

        <section class="hero">

            <h1>Платформа за размяна на услуги</h1>

            <p>
                Предложи уменията си или намери помощ от хора около теб.
            </p>

            <a href="catalog" class="btn">Разгледай услугите</a>

        </section>

        <section class="services">

            <div class="card">
                <h3>🔧 Ремонти</h3>
                <p>Помощ за дома и техниката.</p>
            </div>

            <div class="card">
                <h3>🎨 Дизайн</h3>
                <p>Графичен и уеб дизайн.</p>
            </div>

            <div class="card">
                <h3>📚 Уроци</h3>
                <p>Частни уроци и обучение.</p>
            </div>

            <div class="card">
                <h3>💻 IT услуги</h3>
                <p>Програмиране и поддръжка.</p>
            </div>

        </section>

        <%- include('./partials/footer.ejs') %>


</body>

</html>