<!DOCTYPE html>
<html lang="bg">

<head>
    <%- include('./partials/header.ejs') %>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>

        <section class="form-page">

            <h2>Вход</h2>
            <% if(error){ %>
                <p class="error">
                    <%= error %>
                </p>
                <% } %>

                    <form action="/login" method="post">

                        <input type="test" placeholder="Потребителско име или имейл" name="identifier">

                        <input type="password" placeholder="Парола" name="password">

                        <button class="btn">Влез</button>

                    </form>

        </section>
        <%- include('./partials/footer.ejs') %>

</body>

</html>