<!DOCTYPE html>
<html lang="bg">

<head>
    <%- include('./partials/header.ejs') %>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>

        <section class="form-page">

            <h2>Вход</h2>

            <form>

                <input type="email" placeholder="Имейл">

                <input type="password" placeholder="Парола">

                <button class="btn">Влез</button>

            </form>

        </section>
        <%- include('./partials/footer.ejs') %>

</body>

</html>