<!DOCTYPE html>
<html lang="bg">

<head>
    <%- include('./partials/header.ejs') %>

</head>

<body>
    <%- include('./partials/navbar.ejs') %>

        <section class="form-page">

            <h2>Регистрация</h2>
            <% if(error){ %>
                <p class="error">
                    <%= error %>
                </p>
                <% } %>

                    <form action="/register" method="post">

                        <input type="text" placeholder="Име" name="username">
                        <input type="email" placeholder="Имейл" name="email">
                        <input type="password" placeholder="Парола" name="password">
                        <input type="password" placeholder="Потвърдете паролата" name="rePass">

                        <button class="btn">Създай акаунт</button>

                    </form>

        </section>
        <%- include('./partials/footer.ejs') %>

</body>

</html>