<!DOCTYPE html>
<html lang="bg">

<head>
    <%- include('./partials/header.ejs') %>
</head>

<body>

    <%- include('./partials/navbar.ejs') %>


        <section class="form-page">

            <h1>Качи услуга</h1>

            <form action="/services/upload" method="POST">
                <select name="category" required>
                    <option value="Категория">Изберете категория</option>
                    <option value="Ремонти">Ремонти</option>
                    <option value="Дизайн">Дизайн</option>
                    <option value="IT услуги">IT услуги</option>
                    <option value="Уроци">Уроци</option>
                </select>
                <input type="text" placeholder="Заглавие на услугата" name="title" required>

                <textarea placeholder="Описание" name="description"></textarea>

                <input type="number" placeholder="Цена" name="price">
                <input type="text" placeholder="Местоположение" name="location">
                <input type="text" placeholder="Линк към изображение" name="img">

                <h3>Възможни часове</h3>

                <div id="timeSlots">
                    <div class="time-slot">
                        <input type="datetime-local" name="availableTimes">
                    </div>
                </div>

                <button type="button" class="add-time-btn">+ Добави час</button>

                <button class="btn">Публикувай</button>

            </form>

        </section>
        <%- include('./partials/footer.ejs') %>
            <script src="/js/uploadService.js"></script>
</body>

</html>